/* adduser.css */

.center-form {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: calc(100% - 20px); /* Adjusted width to account for padding */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}

.btn-submit {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.15s ease-in-out;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 5px;
}
