/* Footer.css */
.footer-container {
  position: relative; /* Ensure relative positioning for pseudo-element */
  background-color: rgba(123, 196, 241, 0.8);
  padding: 20px;
 
}

/* Add a wavy border above the footer */


.footer-container .row {
  display: flex;
  flex-wrap: wrap;
}

.footer-container .column {
  flex: 1;
  padding: 0 15px;
}

.footer-container .column h3,
.footer-container .column h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-container .column a {
  text-decoration: none;
  color: white;
}

.footer-container .column p {
  font-size: 0.9em;
  margin: 0;
  color: white;
}

.footer-container .column:not(:last-child) {
  border-right: 1px solid #f8f2f2; /* Add a border between columns */
}

.footer-container .copyright-section {
  margin-top: 20px;
}
